@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;600&display=swap");

body {
  margin: 0;
  background-color: FFFFFF;
  max-width: 800px;
  margin: auto;
}

.toolbar {
  display: flex;
  place-content: space-between;
}

.logo {
  width: 3em;
  height: 3em;
  margin-top: 1em;
  margin-left: 1em;
}

.menu {
  width: 1.5em;
  height: 1.5em;
  margin-top: 2em;
  margin-right: 1em;
}
.close {
  display: block;
  float: right;
  margin: 0.8em;
}

nav {
  position: fixed;
  opacity: 90%;
  right: 0;
  width: 35%;
  height: 10em;
  z-index: 999;
  border-radius: 1em 0em 1em 1em;
  background: #3f3d3d;
}

.navigation ul {
  text-decoration: none;
  float: left;
  margin: 0;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-size: medium;
  list-style-type: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}
.container {
  display: flex;
  place-content: space-between;
  margin: 2em;
}

.profile-img {
  float: left;
  width: 50%;
  height: 50%;
  background-size: cover;
  border-radius: 10em 25em 10em 25em;
  box-shadow: -0.5em 1em 2em #908e8e;
}

.information {
  align-content: center;
  align-items: center;
  float: right;
  margin-top: 10%;
  margin-right: 10%;
}

.information h1 {
  text-align: center;
  margin-top: 2em;
  text-transform: uppercase;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-size: x-large;
}

.information p {
  margin: 1em;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-size: small;
  display: block;
}

.information p span {
  display: block;
}

.link-icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.link-icon img {
  margin-left: 1em;
  margin-right: 1em;
}

.about {
  display: block;
  place-content: space-between;
  margin: 2em;
}
.about h3 {
  display: block;
  text-align: left;
  margin-top: 3em;
  text-transform: uppercase;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-size: medium;
}
.separation {
  margin-top: -1em;
  border-top: -1px solid #3f3d3d;
  box-shadow: -1px 1px 2em #908e8e;
}
.description {
  display: block;
  text-align: justify;
  justify-content: center;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-size: small;
}
